.cookie-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #444444;
    color: hsla(0, 0%, 100%, .8);
    z-index: 1000;
}

.cookie-message {
    display: flex;
    padding: 24px 0;
    align-items: center;
}

.cookie-message--text {
    padding-right: 48px;
    max-width: 100%;
}

.cookie-message--text .link {
    margin-left: 3px;
}

.cookie-message--agrement-button .background {
    background: hsla(0, 0%, 100%, .8);
}

.cookie-message--agrement-button .content {
    color: #444444;
}