@font-face {
    font-family: 'Proxima Nova';
    src: url('../font/ProximaNovaRegular/ProximaNovaRegular.eot');
    src: url('../font/ProximaNovaRegular/ProximaNovaRegular.woff') format('woff'),
         url('../font/ProximaNovaRegular/ProximaNovaRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
#app, .app, .app-body, .app-container, .full-size, .main, body, html {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
* {
    font-family: Roboto,Segoe Ui,Helvetica Neue,Helvetica,Arial,sans-serif;
    position: relative;
}
body {
    min-width: 980px;
    min-height: 320px;
}
.app-container {
    background: #f4f5f7;
    overflow: hidden;
}
.app-body {
    display: flex;
    flex-direction: column;
}
.bar-wrapper {
    width: 100%;
    position: relative;
	z-index: 4;
}
.app-bar {
    background: #fff;
}
.app-bar, .shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
.app-bar {
    /*background: #2196f3;*/
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    flex-shrink: 0;
}
.app-bar .app-bar-header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.app-bar .app-bar-header-main {
    height: 64px;
}
.app-bar * {
    color: rgba(0,0,0,.87)!important;
    font-weight: 400!important;
}
.app-bar .left-block {
    display: flex;
    width: 100%;
    align-items: center;
}
.app-bar .btn-menu, .btn, .clickable, .context-menu .menu-item, .input-select .input-select-context>*, .list .list-item .list-item--menu, .services, .side-menu .menu-list .menu-item, .tree-view-container .tree-view-label {
    cursor: pointer;
}
.app-bar .btn-menu {
    margin: 0 14px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.app-bar .btn-menu i, .font-headline, .side-menu .side-menu-header {
    font-size: 24px;
    font-weight: 400;
}
.app-bar .btn-menu i {
    color: hsla(0,0%,100%,.7);
}
.material-icons {
    font-family: 'Material Icons' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
.app-bar .app-header-title, .font-title {
    font-size: 20px;
    font-weight: 500;
}
.app-bar .app-header-title {
    color: hsla(0,0%,100%,.7);
    text-transform: uppercase;
    margin-left: 0;
    white-space: nowrap;
}
.app-bar .title-spliter {
    height: 32px;
    border-right: 2px solid hsla(0,0%,100%,.7);
    margin: 0 16px;
}
.app-bar .center-block {
    width: 100%;
}
.app-bar .right-block {
    display: flex;
}
.right-block {
    width: 100%;
    justify-content: flex-end;
}
a {
    text-decoration: none;
}
.right-block .property, .right-block .setting-item {
    margin: 0 14px;
}
.setting-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.setting-item>* {
    max-width: 80%;
}
.property {
    padding: 16px 0;
}
.app-bar .setting-item .property .title {
    margin: 20px 0;
    font-size: 18px;
}
.setting-item-control {
    display: flex;
    align-items: center;
}
.app-bar .setting-item-control {
    max-width: none;
}
.app-body-container {
    scroll-behavior: smooth;
    overflow: hidden;
    overflow-y: auto;
}
.app-body-content {
    width: 100%;
    height: 100%;
}
.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}
.container:after, .container:before {
    content: " ";
    display: table;
}
.h0 {
    height: 0;
}
.header:before {
    background: #2196f3;
    content: "";
    left: -500%;
    width: 1000%;
    height: 100%;
    position: absolute;
}
.header.esign {
    position: relative;
    color: #fff;
    height: 600px;
}
.header.esign:before
{
	height: 600px;
	background-image: -moz-linear-gradient( 24deg, rgb(224,105,105) 0%, rgb(229,123,123) 98%);
	background-image: -webkit-linear-gradient( 24deg, rgb(224,105,105) 0%, rgb(229,123,123) 98%);
	background-image: -ms-linear-gradient( 24deg, rgb(224,105,105) 0%, rgb(229,123,123) 98%);
}
.page-group {
    display: flex;
}
.page-group.row {
    flex-direction: row;
    align-items: flex-start;
}
.page-group.row>div {
    width: 100%;
    flex: 1 1 0px;
    min-width: 1px;
}
.header .page-group {
    margin-top: 0!important;
}
.header .header-text-wrapper {
    margin-left: 0;
    padding-top: 24px;
    flex-grow: 1.2 !important;
}
.about .header .page-group.row>div {
    margin-top: 50px;
    padding-right: 50px;
}
.header .header-title {
    color: #fff;
    font-size: 38px;
    font-weight: 200;
    font-weight: 300;
    vertical-align: bottom!important;
    line-height: 1.2;
    margin-top: 40px;
    width: 90%;
}
.header .header-text {
    margin-top: 16px;
    margin-bottom: 40px;
    font-size: 22px;
    color: hsla(0,0%,100%,.7);
    padding-right: 100px;
    vertical-align: top;
	font-weight: 300;
}
.about .option-img
{
    margin-top: 50px;
    margin-right: 15px;
}
.about .header .header-text.option 
{
    font-size: 16px;
}
.header .header-img-wrapper 
{
    height: 377px;
    position: relative;
}
.header .header-img-wrapper .doc 
{
    position: absolute;
    z-index: 1;
    margin: 74px 0px 0px -113px;
}
.header .header-img {
    height: 377px;
    position: absolute;
    bottom: 0;
}
.about .header-img {
    height: auto;
}
.about .browser .main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about .title {
    margin: 0;
    font-weight: 300;
    font-size: 30px;
    white-space: normal;
    overflow: inherit;
    margin-bottom: 16px;
}
.about .description {
    font-size: 18px;
    color: rgba(0,0,0,.54);
}

.container:after {
    clear: both;
}
.about .browser
{
	text-align: center;
}
.about .browser .main-title{
    padding-top: 65px;
}
.about .browser:before {
    background: #fff;
    content: "";
    left: -500%;
    width: 1000%;
    height: 100%;
    position: absolute;
    z-index: 0;
    padding: 10px 0;
}
.about .browser .page-group.row {
    display: inline-flex;
    margin: 50px;
}
.about .browser .browser-icon
{
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06);
	width: 66px;
	height: 65px;
	margin: 0 30px;
    display:flex;
	align-items: center;
	justify-content: center;
}
.about .client {
    margin: 96px 0;
}
.about .client .main-title
{
    left: 30px;
    top: 126px;
}
.btn-group.align-left {
    text-align: left;
    left: 0;
}
.btn-group>div {
    display: inline-block;
}

.app-bar .btn-menu, .btn, .clickable, .context-menu .menu-item, .input-select .input-select-context>*, .list .list-item .list-item--menu, .services, .side-menu .menu-list .menu-item, .tree-view-container .tree-view-label {
    cursor: pointer;
}
.btn {
    position: relative;
    height: 36px;
    transition: box-shadow .3s ease;
}
.btn, .font-button {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.btn, .noselect {
    user-select: none;
}
.btn, .btn.round, .btn.round .content, .flex-middle, .input-field .material-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn.raised {
    line-height: 36px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.bg-esign {
	background-color: rgb(229, 115, 115);
	box-shadow: 0px 0px 15px 0px rgba(203, 203, 203, 0.5);
}
.btn, .btn .background {
    border-radius: 2px;
    min-width: 64px;
    max-width: 240px;
}
.btn .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.white {
    color: #fff;
}
.btn .content {
    z-index: 1;
    position: relative;
    min-width: 48px;
    max-width: 208px;
    padding: 0 16px;
    border-radius: 2px;
    text-align: center;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.btn-group .clear {
    content: "";
    clear: both;
    display: block;
}
.btn.raised:hover .content
{
	background:rgba(0,0,0,.12)
}
.btn.raised:active
{
	box-shadow:0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2)
}
.slideshow-container{
	position: relative;
	margin: auto;
	min-width: 650px;
	min-height: 510px;
	flex-grow: 2.5 !important;
    margin-left: -80px;
}
.prev, .next{
	cursor: pointer;
	width: auto;
	padding: 2px 12px 5px 10px;
	margin: 10px;
	color:white;
	font-size: 18px;
	border-radius: 50%;
	background-color: rgb(229, 115, 115);
	box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.12);
	z-index: 3;
}

.next{
	padding: 2px 10px 5px 12px;
}
.prev:hover, .next:hover 
{
	background-color:rgba(204,100,100,1)
}
.img-slide1 .slide>div, .img-slide2>div, .img-slide3>div {
	padding: 10px 0px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 8px 0px rgba(0, 1, 1, 0.05);
}
.img-slide1 .slide>div.img1,div.img1 {
	padding: 0px;
	padding-bottom: 10px;
}
.img-slide1{
	position: absolute;
    width: 100%;
    height: 510px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
	z-index: 3;
}
.img-slide2 {
	opacity: 0.8;
	z-index: 2;
	display: -webkit-inline-flex;
    display: inline-flex;
}
.img-slide3 {
	opacity: 0.6;
	z-index: 1;
	display: -webkit-inline-flex;
    display: inline-flex;
}
.slide-hidden, .slide-show
{
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.slide-show
{
	opacity: 1;
}
.slideshow-container .page-group.row {
	width:100%;
	display: inline-flex;
    justify-content: space-between;
}
.about .modules:before {
    background: #fff;
    content: "";
    left: -500%;
    width: 1000%;
    height: 100%;
    position: absolute;
    z-index: 0;
    padding: 10px 0;
}
.about .modules {
	display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
	padding-bottom: 60px;
}
.about .modules>div
{
	width: 470px;
    margin: 70px 0px 30px 0px;
}
.about .modules>div>img
{
	margin-left: 180px;
}
.about .modules .instruction
 {  
	width: 310px;
	height: 70px;
	padding-top: 15px;
	text-align: center;
	margin: 10px 0px;
	border-radius: 2px;
	background-color: rgb(248, 249, 250);
}
.about .modules .instruction:hover, .about .modules .instruction:active
 {  
	background-color: rgb(250, 250, 250);
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.about .modules .btn-group.align-left
{
	margin-top: 40px
}
.about .modules .description {
	font-size: 16px;
}
.about .modules .instruction .title {
	font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
	color: rgb(242, 91, 92);
}
.about .modules .instruction  .description {
	font-size: 14px;
	color: rgb(43, 43, 43);
}
.about .tarifs>.main-title
{
	text-align: center;
	margin-bottom: 30px;
}
.about .tarifs {
    margin: 96px 0;
}
.about .tarifs-content {
	display: flex;
    justify-content: space-between;
}
.about .tarifs-content>div 
{
	width: 185px;
	min-height: 100px;
	border-radius: 1px 1px 3px 3px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
	border-top: 10px solid rgb(154, 154, 154);
	text-align: center;
	padding: 25px 0px;
}
.about .tarifs-content>div.base 
{
	border-top: 10px solid rgb(229, 115, 115);
}
.about .tarifs-content>div.standart 
{
	border-top: 10px solid rgb(84, 175, 74);
}
.about .tarifs-content>div.business
{
	border-top: 10px solid rgb(30, 126, 249);
}
.about .tarifs-content>div.super 
{
	border-top: 10px solid rgb(239, 37, 36);
}
.about .tarifs-content>div .main-title {
	font-size: 26px;
	font-family: "Proxima Nova";
	color: rgba(0, 0, 0, 0.902);
	text-transform: uppercase;
    margin: 0px 0px 30px 0px;
}
.about .tarifs-content>div .title {
	font-size: 20px;
	font-family: "Proxima Nova";
	color: rgba(0, 0, 0, 0.902);
    margin: 20px 0px 0px 0px;
}
.about .tarifs-content>div .price-title {
	font-size: 30px;
	font-family: "Proxima Nova";
	color: rgba(229, 111, 110, 0.902);
    margin: 30px 0px 0px 0px;
}
.about .tarifs-content>div .oneprice-title {
	font-size: 24px;
	font-family: "Proxima Nova";
	color: rgba(229, 111, 110, 0.902);
    margin: 20px 0px 0px 0px;
}
.about .tarifs-content>div .description {
	font-size: 12px;
	font-family: "Proxima Nova";
	color: rgba(0, 0, 0, 0.8);
}
.footer {
    border-top: 1px solid rgba(0,0,0,.12);
    margin: 24px auto 0;
}
.footer {
    margin: 20px auto 0;
    background: #444;
    height: 145px;
    display: flex;
    justify-content: space-between;
    padding: 0 42px;
    align-items: center;
}
.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}
.footer * {
    color: #fff!important;
}
.footer .container {
    display: flex;
    justify-content: space-between;
}
.font-subheading, .footer .container>div, .list-item--cell, .list .list-item--name .description, .property .description {
    font-size: 15px;
    color: rgba(0,0,0,.54);
    font-weight: 400;
}
.footer .container>div {
    padding: 24px 8px;
    flex-direction: row;
    width: 50%;
    text-align: left;
}
.footer .container .links {
    text-align: right;
}
.footer .container>div a {
    text-decoration: none;
    margin-left: 16px;
}

*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(38, 50, 56, 0.5);
	border-radius: 10px;
}

*::-moz-scrollbar {
	width: 8px;
	height: 8px;
}

*::-moz-scrollbar-track {
	border-radius: 8px;
}

*::-moz-scrollbar-thumb {
	background-color: rgba(38, 50, 56, 0.5);
	border-radius: 10px;
}

*::-ms-scrollbar {
	width: 8px;
	height: 8px;
}

*::-ms-scrollbar-track {
	border-radius: 8px;
}

*::-ms-scrollbar-thumb {
	background-color: rgba(38, 50, 56, 0.5);
	border-radius: 10px;
}